Nombre de produit selectionnés : <%= @cart.line_items.count %><br>

<div class="row">
  <div class="col-3">
    <%= render(@cart.line_items) %>
  </div>
</div>

<%= link_to 'Vider le panier', @cart, method: :delete %>

<%= link_to 'Retour aux produits', products_path %>
