  <div class="card w-30">
    <%= image_tag(line_item.product.image_url(:thumb)) %>
    <div class="card-body">
      <h5 class="card-title"><%= line_item.total_price %> €</h5>
      <p class="card-text"><%= line_item.product.description %>.</p>
    </div>
  </div><br>

<%= link_to 'Retirer du panier', line_item, method: :delete, data: {confirm: "Etes vous sur ? "} %>
